{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jira</title>
    <meta name="csrf" content={{csrf_token}}>
    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div id="signup">
        <input type="text" id="userid" placeholder="User Id?">
        <input type="password" id="pwd1" placeholder="Password?">
        <input type="password" id="pwd2" placeholder="Re-type Password">
        <input type="email" id="email" placeholder="Email?">
        <input type="text" id="mobile" placeholder="Mobile?">
        <input type="button" onclick="signup()" value="Signup">
        <input type="button" onclick="clear_all()" value="Clear">
        <a href="/forgot_userid">Forgot UserId?</a>
        <a href="/forgot_password">Forgot Password?</a>
        <a href="/reset_password">Reset Password?</a>
    </div>
    <div id="signin" hidden>

    </div>
</body>
</html>